<!DOCTYPE html>
<html>
  <head>
    <title>Learn to Read Japanese</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "application", media: "all" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body class="<%= content_for(:body_class) || "bg-blue-500" %>">
    <div class="flex justify-between p-4">
      <%= link_to root_path, class: "button button--icon", title: "Practice" do %>
        <%= inline_svg_pack_tag "media/images/cards.svg" %>
      <% end %>

      <% if @score.attempts > 0 %>
        <div class="flex gap-8 text-center text-white">
          <div>
            <p class="text-lg font-semibold">
              <%= @score.attempts %>
            </p>
            <p class="text-sm">
              Attempts
            </p>
          </div>
          <div>
            <p class="text-lg font-semibold">
              <%= number_to_percentage(@score.accuracy, precision: 0) %>
            </p>
            <p class="text-sm">
              Accuracy
            </p>
          </div>
        </div>
      <% end %>

      <%= link_to characters_path, class: "button button--icon", title: "Learn" do %>
        <%= inline_svg_pack_tag "media/images/table.svg" %>
      <% end %>
    </div>

    <div class="p-8 max-w-lg mx-auto">
      <%= yield %>
    </div>
  </body>
</html>
