<!DOCTYPE html>
<html>
  <head>
    <title>Learn to Read Japanese</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <% if skip_preview? %>
      <meta name="turbo-cache-control" content="no-preview">
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "app_icon.png" %>
    <%= favicon_link_tag "app_icon.png", rel: 'apple-touch-icon', type: 'image/png' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="<%= content_for(:body_class) || "bg-blue-500" %>">
    <div class="flex justify-between p-4">
      <%= link_to root_path, class: "h-6 w-6 button button--icon", title: "Practice" do %>
        <%= inline_svg_tag "cards.svg" %>
      <% end %>

      <% if show_score? %>
        <div class="flex gap-8 text-center text-white">
          <div>
            <p class="text-lg font-semibold">
              <%= @score.attempts %>
            </p>
            <p class="text-sm">
              Attempts
            </p>
          </div>
          <div>
            <p class="text-lg font-semibold">
              <%= number_to_percentage(@score.accuracy, precision: 0) %>
            </p>
            <p class="text-sm">
              Accuracy
            </p>
          </div>
        </div>
      <% end %>

      <%= link_to characters_path, class: "h-6 w-6 button button--icon", title: "Learn" do %>
        <%= inline_svg_tag "table.svg" %>
      <% end %>
    </div>

    <div class="p-8 max-w-lg mx-auto">
      <%= yield %>
    </div>
  </body>
</html>
