<!DOCTYPE html>
<html>
  <head>
    <title>JapaneseFlashcards</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "application", media: "all" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body class="bg-red-600">
    <%= link_to root_path, class: "absolute top-4 left-4 text-white hover:text-red-300", title: "Practice" do %>
      <%= inline_svg_pack_tag "media/images/cards.svg" %>
    <% end %>
    <%= link_to characters_path, class: "absolute top-4 right-4 text-white hover:text-red-300", title: "Learn" do %>
      <%= inline_svg_pack_tag "media/images/table.svg" %>
    <% end %>

    <%= yield %>
  </body>
</html>
